<!DOCTYPE html><!--留言-->
<html lang="zh-CN">
  <head>
    <title>留言祝福</title>
    <meta content="婚礼祝福,留言回执,维斗喜帖" name="Keywords">
    <meta content="维斗喜帖-婚礼祝福" name="Description">

    <meta charset="utf-8">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes" name="viewport">
    <!-- 最新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="<%= get_base_url('comment', 'theme-one') %>css/message.css" media="all">
    <script type="text/javascript" src="<%= get_base_url('comment', 'theme-one') %>js/jquery_min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <style type="text/css">
      body, html{
        width: 100%;
        height: 100%;
        margin:0;
      }
      .navbar-default {
          background-color: #F1678D;
          border-color: #e7e7e7;
      }
      .navbar-default .navbar-nav>li>a{
          color: #fff;
      }
      .navbar-default .navbar-brand {
        color: #fff;
      }
      .navbar-brand {
        color: #fff;
      }
      .page-header {
        margin: 35px 0 20px;
        border-bottom: 0px;
      }
    </style>
    <%= render 'layouts/s_head' %>
  </head>
<body id="message" onselectstart="return true;" ondragstart="return false;">
  <%= render 'layouts/s_header' %>
  <script type="text/javascript"> 
    $(document).ready(function () { 
        $("#contact-form1").click(function () { 
          var btn = $(this);
          var wxname = $("#name1").val();
          if (wxname  == '') {
            alert("请输入昵称");
            return;
          }
          var info = $("#content1").val();
            if (info == '') {
            alert("请输入内容");
            return;
          }
          $.post('/site_comments', $("#contact-form1").serialize(),
            function( data ) {
              alert( "留言成功" + data);
              setTimeout('window.location.href=location.href',1000);
              return;
            }
          )
    }); 
    //
    $("#contact-form2").click(function () { 
      var btn = $(this);
      var wxname = $("#name2").val();
      if (wxname  == '') {
        alert("请输入昵称");
        return;
      }
      var info = $("#content2").val();
        if (info == '') {
        alert("请输入内容");
        return;
      }
      $.post('/site_comments', $("#contact-form2").serialize(),
        function( data ) {
          alert( "留言成功" + data);
          setTimeout('window.location.href=location.href',1000);
          return;
        }
      )
    }); 
    //

    //
    $(".hfinfo").click(function () { 
      var objid = $(this).attr("date");
      $(".hhly"+objid).slideToggle();
    }); 
    //
    $(".hhbt").click(function () { 
      var objid = $(this).attr("date");
      $(".hhly"+objid).slideToggle();
    });
    //
    $("#windowclosebutton").click(function () { 
      $("#windowcenter").slideUp(500);
    });
    //
    $("#alertclose").click(function () { 
      $("#windowcenter").slideUp(500);
    });
    }); 
    //
    function alert(title){ 
      window.scrollTo(0, -1);
      $("#windowcenter").slideToggle("slow"); 
      $("#txt").html(title);
      setTimeout(function(){$("#windowcenter").slideUp(500);},4000);
    }
    //
    $(document).ready(function(){
      $(".first1").click(function(){
        $(".ly1").slideToggle();
      });
      $(".first2").click(function(){
        $(".ly2").slideToggle();
      });
    });
  </script> 

  <div class="container">
    <!-- header start -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">选择菜单</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= get_site_url(@site)%>">
          &nbsp;返回
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <% get_menu(@site).each do |site_page| %>
          <li class="menu_item"><%= link_to site_page.title, get_site_page_url(site_page) %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <!-- header end -->

    <div class="page-header">
      <div class="qiandaobanner">
        <a href="javascript:history.go(-1);">
          &nbsp;
        </a>
      </div>
    </div>

    <div class="cardexplain">
      <div class="window" id="windowcenter">
        <div id="title" class="wtitle">操作提示<span class="close" id="alertclose"></span></div>
        <div class="content">
          <div id="txt"></div>
        </div>
      </div>

      <div class="history">
        <div class="history-date">
          <ul>
            <a><h2 class="first first1" style="position: relative;">请点击留言</h2></a>

            <li class="green bounceInDown nob ly1" style="display:none">
              <%= form_tag("/site_comments", class: 'form-inline', id: 'contact-form1', onsubmit: 'return false') do %>
                <input class="hidden" id="site_comment_site_id" name="site_comment[site_id]" type="hidden" value="<%= @site.id %>" />
                <dl>
                  <dt>
                    <input name="site_comment[name]"  class="px" id="name1" placeholder="请输入您的昵称" type="text">
                  </dt>
                  <dt>
                    <textarea name="site_comment[content]" class="pxtextarea" style=" height:60px;" id="content1" placeholder="请输入留言"></textarea>
                  </dt>
                  <dt>
                    <button type="submit" class="submit">提交留言 </button>
                  </dt>
                </dl>
              <% end %>
            </li> 

          
            <% @site.site_comments.each do |site_comment| %>
              <li class="green bounceInDown">
                <h3>
                  <!--<img src="/extend/wedding-hl/http://www.apiwx.com/index/images/logo100x100.jpg">-->
                  <%= site_comment.name %><div class="clr"></div>
                </h3>
                <dl>
                  <dt class="hfinfo" date="9055" ><%= site_comment.content %> <b style="font-weight:100; font-size:10px; color:#1DB702; padding:0 0px 0 8px;"><%= distance_of_time_in_words_to_now(site_comment.created_at) %>前</b></dt>
                </dl>
                
                          
                <!-- <dl><a href="http://wx.wwkoala.com/index.php?g=Wap&m=Liuyan&a=del&id=130&token=ifwhng1393741472&wecha_id=oA0OtuOnrer6gDRKZVCqeRqMSTXw"class="del">删除</a> </dl> -->
              </li>
            <% end %>

            <li class="green bounceInDown nob ly2" style="display:none">
              <%= form_tag("/site_comments", class: 'form-inline', id: 'contact-form2', onsubmit: 'return false') do %>
                <input class="hidden" id="site_comment_site_id" name="site_comment[site_id]" type="hidden" value="<%= @site.id %>" />
                <dl>
                  <dt>
                    <input name="site_comment[name]"  class="px" id="name2" placeholder="请输入您的昵称" type="text">
                  </dt>
                  <dt>
                    <textarea name="site_comment[content]" class="pxtextarea" style=" height:60px;" id="content2" placeholder="请输入留言"></textarea>
                  </dt>
                  <dt>
                    <button type="submit" class="submit">提交留言 </button>
                  </dt>
                </dl>
              <% end %>
            </li>
            <a><h2 class="first first2" style="position: relative;">请点击留言</h2></a>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <%= render 'layouts/s_footer' %>
</body>
</html>
