---
title: 祝福我们
body_css: page page-template-template-contact-php
---

<div id="wrapper">
  <div id="wrapper_inner">
    <div class="logo_area ">
        <div class="gap">
        </div>
        <div id="logo">
          <h1>
            <a href="/index.html">
              江君哒哒 & 兰妞嬷嬷
            </a>
          </h1>
          <div class="dea">
          </div>
          <span>
            我们结婚啦~
          </span>
        </div>
    </div>
    <div class="header_area con_style">
      <div class="clear">
      </div>
      <div class="main_menu">
        <%= partial 'layouts/nav' %>
      </div>
      <div class="clear">
      </div>
    </div>
    <div class="content_area con_style shadow radius margin_top conatct_page">
      <div class="clear">
      </div>
      <div class="contact_inner">
        <div class="clear" style="height:25px;">
        </div>
        <div class="content_inner">
          <div class="one_half">
            <p>
            </p>
            <div class="contact_form_area">
              <form id="contactForm" class="contact-form">
                <input type="hidden" style="display:none;" name="from" value="we@wedxt.com"
                />
                <p>
                  <span>
                    <input type="text" name="name" value="" size="40" class="required" placeholder="Your Name">
                  </span>
                </p>
                <p>
                  <span>
                    <input type="email" name="email" value="" size="40" class="required" placeholder="Your Email">
                  </span>
                </p>
                <p>
                  <span>
                    <textarea name="message" cols="40" rows="10" class="contact-textarea required"
                    placeholder="Message">
                    </textarea>
                  </span>
                </p>
                <p>
                  <input type="submit" value="Send" class="contact-submit submit">
                </p>
              </form>
              <p class="formOK">
                Thank you for your attention. Your message has been sent.
              </p>
              <p class="formNOK">
                There was an error when sending your message, please try again later.
              </p>
              <p class="sending">
                <span>
                  Sending...
                </span>
              </p>
            </div>
            <p>
            </p>
          </div>
          <div class="one_half last">
            <p>
            </p>
            <h2>
              <em>
                Get in touch
              </em>
            </h2>
            <p>
              If you have any questions, please feel free to drop me a line. If you
              don't get an answer immediately, I might just be travelling through the
              middle of nowhere. I'll get back to you as soon as I can. That's a promise!
            </p>
            <p>
              &nbsp;
            </p>
            <h3>
              <em>
                Find Us elsewhere
              </em>
            </h3>
            <p>
              <a href="#">
                Facebook
              </a>
              &nbsp; &nbsp; &nbsp; &nbsp;
              <a href="#">
                Twitter
              </a>
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              <a href="#">
                RSS
              </a>
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              <a href="#">
                Flickr
              </a>
              &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
              <a href="#">
                500PX
              </a>
              &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
              <a href="#">
                Vimeo
              </a>
            </p>
            <p>
            </p>
          </div>
          <div class="clearboth">
          </div>
          <p>
            &nbsp;
          </p>
        </div>
        <div class="clear">
        </div>
      </div>
      <div class="clear">
      </div>
    </div>
    <div class="copyright front_page">
      <a href="http://www.wedxt.com" target="_blank">&copy;维斗喜帖网出品</a>
    </div>
  </div>
</div>