---
title: 照片墙
body_css: page page-template-default
---

<div id="wrapper">
  <div id="wrapper_inner">
    <div class="logo_area ">
        <div class="gap">
        </div>
        <div id="logo">
          <h1>
            <a href="/index.html">
              江君哒哒 & 兰妞嬷嬷
            </a>
          </h1>
          <div class="dea">
          </div>
          <span>
            我们结婚啦~
          </span>
        </div>
    </div>
    <div class="header_area con_style">
      <div class="clear">
      </div>
      <div class="main_menu">
        <%= partial 'layouts/nav' %>
      </div>
      <div class="clear">
      </div>
    </div>
    <div class="content_area con_style shadow radius_buttom">
          <div class="clear">
          </div>
          <div class="content_inner" style="width:90%;">
            <a href="images/preview-image/s2.jpg" rel="prettyPhoto[g]"
            class="g_img" title="Image 1">
              <img src="images/preview-image/s2.jpg"
              alt="">
            </a>
            <a href="images/preview-image/s2.jpg" rel="prettyPhoto[g]"
            class="g_img" title="Image 2">
              <img src="images/preview-image/s2.jpg"
              alt="">
            </a>
            <a href="images/preview-image/s2.jpg" rel="prettyPhoto[g]"
            class="g_img" title="Image 3">
              <img src="images/preview-image/s2.jpg"
              alt="">
            </a>
            <a href="images/preview-image/s2.jpg" rel="prettyPhoto[g]"
            class="g_img" title="Image 4">
              <img src="images/preview-image/s2.jpg"
              alt="">
            </a>
            <a href="images/preview-image/s2.jpg" rel="prettyPhoto[g]"
            class="g_img" title="Image 5">
              <img src="images/preview-image/s2.jpg"
              alt="">
            </a>
            <a href="images/preview-image/s2.jpg"
            rel="prettyPhoto[g]" class="g_img" title="Image 6">
              <img src="images/preview-image/s2.jpg"
              alt="">
            </a>
            <a href="images/preview-image/s2.jpg" rel="prettyPhoto[g]" class="g_img"
            title="Image 7">
              <img src="images/preview-image/s2.jpg" alt="">
            </a>
            <a href="images/preview-image/s2.jpg" rel="prettyPhoto[g]" class="g_img" title="Image 8">
              <img src="images/preview-image/s2.jpg" alt="">
            </a>
            <a href="images/preview-image/s2.jpg" rel="prettyPhoto[g]" class="g_img" title="Image 9">
              <img src="images/preview-image/s2.jpg" alt="">
            </a>
            <a href="images/preview-image/s2.jpg" rel="prettyPhoto[g]" class="g_img" title="Image 10">
              <img src="images/preview-image/s2.jpg" alt="">
            </a>
            <a href="images/preview-image/s2.jpg" rel="prettyPhoto[g]" class="g_img" title="">
              <img src="images/preview-image/s2.jpg" alt="">
            </a>
            <a href="images/preview-image/s2.jpg" rel="prettyPhoto[g]" class="g_img" title="">
              <img src="images/preview-image/s2.jpg" alt="">
            </a>
            <div class="clear">
            </div>
          </div>
          <div class="clear">
          </div>
    </div>
    <div class="copyright front_page">
      <a href="http://www.wedxt.com" target="_blank">&copy;维斗喜帖网出品</a>
    </div>
  </div>
  <a id="prevslide" class="load-item inner_page">
  </a>
  <a id="nextslide" class="load-item inner_page">
  </a>
  <div id="progress-back" class="load-item">
    <div id="progress-bar">
    </div>
  </div>
</div>