---
title: 首页
body_css: page-template-template-home-php
---

<div id="wrapper">
  <div id="wrapper_inner">
    <div class="front_menu">
      <%= partial 'layouts/nav' %>
    </div>
    <div class="home-box-warper home_circle">
      <div class="home-box-inner">
        <div class="gap">
        </div>
        <h1>
          江君哒哒 & 兰妞嬷嬷
        </h1>
        <div class="dea">
        </div>
        <span class="subtitle">
          维斗喜帖.我们结婚啦~
        </span>
      </div>
    </div>
    <div class="social_bar">
     
      <a href="#" target="_blank">
        <img src="images/twitter-icon.png" alt="twitter">
      </a>
      <a href="#" target="_blank">
        <img src="images/vimeo-icon.png" alt="vimeo">
      </a>
      <a href="#" target="_blank">
        <img src="images/dribbble-icon.png" alt="dribbble">
      </a>
      <a href="#" target="_blank">
        <img src="images/instagram-icon.png" alt="instagram">
      </a>
      <a href="#" target="_blank">
        <img src="images/pinterest-icon.png" alt="pinterest">
      </a>
    </div>
  </div>
</div>
<a id="prevslide" class="load-item front_page">
</a>
<a id="nextslide" class="load-item front_page">
</a>
<div id="progress-back" class="load-item">
  <div id="progress-bar">
  </div>
</div>

