---
title: 邀请函
body_css: page page-template-default
---

<div id="wrapper">
  <div id="wrapper_inner">
    <div class="logo_area ">
        <div class="gap">
        </div>
        <div id="logo">
          <h1>
            <a href="/index.html">
              江君哒哒 & 兰妞嬷嬷
            </a>
          </h1>
          <div class="dea">
          </div>
          <span>
            我们结婚啦~
          </span>
        </div>
    </div>
    <div class="header_area con_style">
      <div class="clear">
      </div>
      <div class="main_menu">
        <%= partial 'layouts/nav' %>
      </div>
      <div class="clear">
      </div>
    </div>
    <div class="content_area con_style shadow blog_item ">
      <div class="featured">
        <a href="images/preview-image/s1" rel="prettyPhoto">
          <img width="800" height="330" src="images/preview-image/s1.jpg"
          class="" alt="">
        </a>
      </div>
      <div class="clear">
      </div>
      <div class="content_inner">
        <h2>
          <a href="#">
            邀请函
          </a>
        </h2>
        <div class="align-center">
          <span class="date">
            Posted By
            <a href="#" title="Posts by madninm" rel="author">
              madninm
            </a>
            On 16 Nov 2013
          </span>
          <div class="clear">
          </div>
        </div>
        <p>
          Duis at magna eget quam rhoncus tempor in scelerisque metus. Duis mattis
          mauris a velit scelerisque rhoncus. Donec non nisl quis augue venenatis
          convallis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia Curae; Ut lobortis, lectus non adipiscing tristique, diam
          sapien dictum lorem, a euismod nibh ipsum quis nulla. Etiam velit nunc,
          laoreet id ultrices in, pretium et sapien. Donec vulputate ante sed dui
          bibendum scelerisque. Aliquam erat volutpat. Sed lorem velit, pharetra
          quis convallis fringilla, mattis sit amet velit. Phasellus placerat diam
          eget dolor laoreet at vehicula ipsum pulvinar. In sagittis quam sed nibh
          placerat a euismod nisi varius. Suspendisse eget sem lacus, tempor tincidunt
          neque. Integer id dolor lectus, eu vulputate diam. Integer ut augue quam,
          vitae tristique elit. Donec sit amet tellus orci, sit amet sodales augue.
          Curabitur dapibus libero id nulla auctor at tempor turpis blandit.
        </p>
        <p>
          Mauris nec enim velit, nec commodo tellus. Sed neque nisl, convallis accumsan
          consequat sed, porttitor ut eros. Maecenas varius, ligula ut posuere semper,
          enim nibh vestibulum arcu, sit amet rutrum ante est eget neque. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit. Duis ultrices erat massa,
          sed viverra dolor. Integer scelerisque quam id eros consequat vel mollis
          diam vestibulum. Fusce euismod, est id faucibus volutpat, eros lacus fermentum
          ligula, at pretium tellus magna in justo.
        </p>
        <p>
          Etiam vitae arcu tincidunt metus bibendum vestibulum. Praesent vel turpis
          velit. Mauris adipiscing lobortis sapien ut tempor. Morbi in velit urna,
          quis rhoncus nisl. Nullam sed quam a quam convallis vestibulum. Nam vestibulum
          orci ut elit aliquam dapibus. Fusce tincidunt leo non massa rhoncus sed
          interdum libero aliquet. Pellentesque rutrum, nibh sed hendrerit varius,
          diam urna varius massa, vitae iaculis felis erat ac velit. Aenean in risus
          augue. Aliquam id nisi vel purus suscipit iaculis id sed lorem. Aliquam
          tincidunt mattis urna, vitae mollis ante tempus ut. Morbi nec arcu interdum
          ante lacinia iaculis ut sed mauris.
        </p>
        <div class="clear">
        </div>
      </div>
      <div class="clear">
      </div>
    </div>
    <div class="copyright front_page">
      <a href="http://www.wedxt.com" target="_blank">&copy;维斗喜帖网出品</a>
    </div>
  </div>
  <a id="prevslide" class="load-item inner_page">
  </a>
  <a id="nextslide" class="load-item inner_page">
  </a>
  <div id="progress-back" class="load-item">
    <div id="progress-bar">
    </div>
  </div>
</div>
