---
title: 宴席安排
body_css: page page-template-template-contact-php
---

<div id="wrapper">
  <div id="wrapper_inner">
    <div class="logo_area ">
        <div class="gap">
        </div>
        <div id="logo">
          <h1>
            <a href="/index.html">
              江君哒哒 & 兰妞嬷嬷
            </a>
          </h1>
          <div class="dea">
          </div>
          <span>
            我们结婚啦~
          </span>
        </div>
    </div>
    <div class="header_area con_style">
      <div class="clear">
      </div>
      <div class="main_menu">
        <%= partial 'layouts/nav' %>
      </div>
      <div class="clear">
      </div>
    </div>
    <div class="content_area con_style shadow">
      <div class="clear">
      </div>
      <div class="content_inner">
        <div class="align-center">
          <div class="accordion">
            <div class="title">
              <a href="#">
                 宴席地点
              </a>
            </div>
            <div class="inner">
              <p>
                <img src="images/map.png" width="150" height="150"
                class="alignleft" alt="">
                <h3>成都市锦江区滨江东路9号香格里拉大酒店</h3>
                <br/>
                <a href="sdf" class="button big">打开电子导航</a>
              </p>
              <div class="clear">
              </div>
            </div>
            <div class="title">
              <a href="#">
                宴请时间
              </a>
            </div>
            <div class="inner">
              <h2>2015年01月1日 12:30</h2>
              <div class="clear">
              </div>
            </div>
            <div class="title">
              <a href="#">
                行程安排/交通说明
              </a>
            </div>
            <div class="inner">
              <p>
                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
                accumsan et iusto odio dignissim qui blandit
              </p>
              <div class="clear">
              </div>
            </div>
          </div>
          <p>
            &nbsp;
          </p>

          <div class="call-to-btn">
            <a class="button medium" href="tel:18080810818">联系新浪： 18080810818</a>
            <a class="button medium" href="tel:18180340551">联系新娘： 18180340551</a>
          </div>

        </div>
      </div>
      <div class="clear">
      </div>
    </div>
    <div class="copyright front_page">
      <a href="http://www.wedxt.com" target="_blank">&copy;维斗喜帖网出品</a>
    </div>
  </div>
</div>
