<!doctype html><!--爱刷刷微相册-->
<!-- template copy from : http://www.idangero.us/sliders/swiper/demos/main-demos/17-responsive.html -->
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <!--禁止缩放 -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta content="telephone=no" name="format-detection" />
  <title><%= @site.title %></title>
  <meta name="description" content="<%= @site.description %>" />
  <meta name="keywords" content="<%= @site.title %>|维斗喜帖，漂亮的电子请柬，微信喜帖" />
  <meta name="author" content="维斗喜帖" />
  <link rel="stylesheet" href="<%= @base_url %>assets/idangerous.swiper.css">
  <link rel="stylesheet" href="<%= @base_url %>assets/style.css">
  <script src="<%= @base_url %>assets/jquery-1.10.1.min.js"></script>
  <script src="<%= @base_url %>assets/idangerous.swiper.js"></script>
  <%= render 'layouts/s_head' %>
</head>
<body>
  <div class="swiper-container">
    <% colors = ['red', 'blue', 'orange', 'green', 'pink'] %>
    <% if @site_page.site_images.size > 2 %>
      <div class="swiper-wrapper">
        <% @site_page.site_images.each_with_index do |site_image, index| %>
          <% next if index >= @site_page.site_images.size - 2 %>
          <div class="swiper-slide <%= colors[rand(5)]%>-slide" style="background-image: url(<%= qiniu_image_path(site_image.image.url,  thumbnail: 'x960', crop: '!640x-0a0', quality: 100) %>); background-size: cover; background-position: 50% 50%;">
          </div>
        <% end %>

        <!-- content swipe start -->
        <div class="swiper-slide blue-slide" style="background:url(<%= @site_page.site_images[-2].image.url %>); background-repeat:no-repeat;background-size:cover;">
          <!-- music control -->
          <dl class="pictxt">
            <dd>
              <h2><%= value_for(@site_page, 'title', title: '标题', typo: 'string') %></h2>
              <div class="showtxt">
                  <div class="masktxt">
                      <%= simple_format value_for(@site_page, 'content', title: '详细说明', typo: 'text') %>
                  </div>
              </div>
            </dd>
          </dl>
        </div><!-- content swipe end -->

        <div class="swiper-slide <%= colors[rand(5)]%>-slide">
          <img src="<%= @site_page.site_images.last.image.url %>" style="width: 100%; height: 100%;" />
        </div>
      </div>
    <% else %>
      <div class="swiper-wrapper">
        <div class="swiper-slide <%= colors[rand(5)]%>-slide">
          <div class="title">请上传3张以上图片</div>
        </div>
        <div class="swiper-slide <%= colors[rand(5)]%>-slide">
          <div class="title">精彩永不停歇</div>
        </div>
        <div class="swiper-slide <%= colors[rand(5)]%>-slide">
          <div class="title">维斗喜帖</div>
          <div class="title"><a href="http://www.wedxt.com"><img src="http://www.wedxt.com/assets/logo.png"></a></div>
        </div>
      </div>
    <% end %>
  </div>
  <!-- had show -->
  <div id="hand"><img src="<%= @base_url %>assets/hand.png" /></div>
  <!-- music control start #######################################-->
  <div class="audio-btn">
    <audio id="audio_play" controls preload="preload" autoplay="autoplay">
      <source src="<%= value_for(@site_page, 'music', typo: 'dialog', url: '/home/dialog_music', title: '背景音乐', default: true)  %>" type="audio/mpeg">
      您的浏览器不支持HTML5音频格式
    </audio>
  </div>
  <!-- music control end #######################################-->

  <script>
    //init swiper
    var mySwiper = new Swiper('.swiper-container',{
      loop: true,
      onSlideChangeStart: function() {
        //$('#hand').hide('slow'); 
      }
    });

    <% unless value_for(@site_page, 'extend_url', typo: 'string', title: '外链地址').blank? %>
      //Create new instance of slide to after:
      var newSlide = mySwiper.createSlide('<div class="title"><%= value_for(@site_page, 'title', title: '标题', typo: 'string') %></div><p>&nbsp;</p><p><a href="<%= value_for(@site_page, "extend_url", typo: "string", title: "外链地址") %>" class="btn btn-success"> <%= value_for(@site_page, "extend_url_title", typo: "string", title: "外链标题") %> </a></p>');
      newSlide.append();
    <% end %>
  </script>
  <script type="text/javascript">
    // show hand 
    $(document).ready(function(){
      var count = 0;
      window.setInterval(function(){ 
        if(count < 2){
          count += 1; 
          animatelength();
        }else{
          clearInterval();
          $("#hand").hide('slow');
        };
      }, 3000);
    });

    function animatelength(){
      $("#hand")
        .animate({left:'-=200'}, 2000)
        .hide('slow')
    }
  </script>
  <script type="text/javascript">
    //init weixin
    $(function(){
      _h = $(window).height();
      $('.swipehe').height(_h);
      $('.pictxt').height(_h);
      $('.pictxt > dt').height(_h/3)
      $('.masktxt').height(_h/2-30);
    })
  </script>
  <%= render 'layouts/s_footer' %>
</body>
</html>