<div id="admin_help" class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="list-group" data-spy="affix" data-offset-top="100">
        <a href="#" class="list-group-item active">
          使用教程
        </a>
        <a href="#folder" class="list-group-item"><i class="fa fa-dot-circle-o"></i> 模板文件组织</a>
        <a href="#content" class="list-group-item"><i class="fa fa-dot-circle-o"></i> 创建content-form</a>

      </div>
    </div>
    <div class="col-md-10">
      <hr class="hr-white"><a name="folder"></a>
      <%= render partial: 'folder' %>

      <hr class="hr-white"><a name="content"></a>
      <%= render partial: 'content' %>
     
    </div>
  </div>
</div>