<!DOCTYPE html><!--我们结婚啦-->
<html lang="zh-CN">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Title -->
  <title><%= @site.title %></title>
  <meta name="description" content="<%= @site.description %>" />
  <meta name="keywords" content="<%= @site.title %>|维斗喜帖，漂亮的电子请柬，微信喜帖">
  <meta name="author" content="维斗喜帖">

  <!-- [[head start]] -->
  <!-- Stylesheets -->
  <link href="<%= @base_url %>style/bootstrap.min.css" rel="stylesheet">
  <link href="<%= @base_url %>style/flexslider.css" rel="stylesheet">
  <link href="//libs.baidu.com/fontawesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  <link href="<%= @base_url %>style/style.css" rel="stylesheet">
  <link id="theme" rel="stylesheet" href="<%= @base_url %>style/thume-red.css">
  
  <!-- Respond JS for IE8 -->
  <script src="<%= @base_url %>js/respond.min.js"></script>
  <!-- HTML5 Support for IE -->
  <script src="<%= @base_url %>js/html5shiv.js"></script>

  <!-- Favicon -->
  <link rel="shortcut icon" href="<%= @base_url %>img/favicon/favicon.png">
  <!-- [[head end]] -->
  <%= render 'layouts/s_head' %>

  <!-- baidu map 1 start -->
  <script type="text/javascript" src="http://api.map.baidu.com/api?type=quick&ak=xD0rO5z4aNh1dkf0mTOb1cFV&v=1.0"></script>  
  <!-- baidu map 1 end -->

</head>

<body>
  <!-- [[header start]] -->
  <!-- Bootstrap navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">

    <div class="container">
     <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">菜单</span>
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
      </button>
      
    </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
         <!-- Navigation links. Note down the class name. It is important -->
          <li><a href="#home" class="anchorLink">真诚邀请</a></li>
          <li><a href="#about" class="anchorLink">邀请函</a></li>
          <li><a href="#photos" class="anchorLink">电子相册</a></li>
          <li><a href="#wedding" class="anchorLink">宴席安排</a></li>
          <li><a href="<%= get_site_page_url_by_title(@site, '留言祝福') %>">留言回执</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <a name="home" id="home"></a>
  <!-- [[header end]] -->

  <%= render 'layouts/s_header' %>
  <!-- Header -->
  <header>
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="hero">
                  <!-- Getting married -->
                  <h1><%= @site.title %></h1>
                  <div class="well">
                     <!-- date -->
                     <h3><%= value_for(@site_page, 'date', title: '宴请日期', typo: 'string', required: true) %></h3>
                     <div class="bor"></div>
                        <h2> <%= value_for(@site_page, 'boy', title: '男方姓名') %> 
                        <img src="<%= @base_url %>img/heartin.png" alt="" /> 
                        <%= value_for(@site_page, 'girl', title: '女方姓名') %></h2>
                     <div class="bor"></div>
                     <!-- Small para -->
                     <p><%= value_for(@site_page, 'welcome', title: '婚礼邀请词', typo: 'text', default: true) %> </p>
                     
                  </div>
                  <!-- Button. Note down the class "button" -->
                  <div class="button">
                    <a href="#wedding" class="anchorLink">宴席安排</a> &nbsp; <a href="<%= get_site_page_url_by_title(@site, '留言祝福') %>">留言回执</a>
                  </div>
<!--fn-声音显示 -->
 <section class="fn-audio" >
    <div class="btn">
      <p class="btn_audio"><span class='css_sprite01 audio_open'></span><span class='css_sprite01 audio_close'></span></p>
      <audio id="car_audio"  controls preload="preload" autoplay="autoplay">
        <source src="<%= value_for(@site_page, 'music', typo: 'dialog', url: '/home/dialog_music', title: '背景音乐', default: true)  %>" type="audio/mpeg">
        您的浏览器不支持HTML5音频格式
      </audio>
    </div>
 </section>
 <!--fn-声音显示 end-->
               </div>
            </div>
         </div>
      </div>
  </header>
   
  <!-- 爱情故事 开始-->
  <% unless value_for(@site_page, 'story', title: '爱情故事', typo: 'text', default: true).blank? %> 
    <a name="about" id="about"></a>
    <div class="border"></div>
     
     <div class="aboutus">
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <div class="well center">
                    <div class="head">
                    <!-- Our love story -->
                       <h3>爱的宣言</h3>
                       <div class="bor"></div>
                       <div><%= simple_format value_for(@site_page, 'story', title: '爱情故事', typo: 'text', default: true) %></div>
                    </div>
                 </div>
              </div>
             <!-- 新郎新娘贺词-->
           </div> 
        </div>      
     </div>
   <% end %>
   <!-- 爱情故事 结束-->

  <% if @site_page.site_images.any? %>
    <div class="border"></div>
    <a name="photos" id="photos"></a>
    <hr />
    <div class="itop"><a href="#home" class="anchorLink"><i class="fa fa-chevron-up"></i></a></div>
    <div class="border"></div>

    <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="head">
               <div class="bor"></div>
               <h2>电子相册</h2>
               <div class="bor"></div>
            </div>
         </div>
         <div class="col-md-12">
         
            <!-- Slider (Flex Slider -->
            <!-- Flex slider -->
            <div class="flexslider">
              <ul class="slides">
                <!-- Each slide should be enclosed inside li tag. -->
                <% @site_page.site_images.each do |site_image| %> 
                <!-- Slide #1 -->
                <li>
                  <!-- Image -->
                  <%= qiniu_image_tag site_image.image.url, :quality => 100, class: 'img-responsive' %> 
                 <!--  <div class="flex-caption">
                     <h3>红红火火</h3>
                     <p>见证爱情. </p>
                  </div> -->
                </li>
                <% end %>

              </ul>
            </div>
            <!-- Slider ends -->
         </div>
      </div>
    </div>
  <% end %>
  
   <div class="border"></div>
   <a name="wedding" id="wedding"></a>
   <hr />
   <div class="itop"><a href="#home" class="anchorLink"><i class="fa fa-chevron-up"></i></a></div>
   <div class="border"></div>
   
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="head">
               <div class="bor"></div>
                  <h2>宴席安排</h2>
               <div class="bor"></div>
            </div>
         </div>

         <div class="col-md-4">
            <div class="wedding">
              <% if value_for(@site_page, 'boy_phone', title: '男方联系电话', typo: 'string', required: true) %>
                 <!-- Ceremony details -->
                 <h4><i class="fa fa-heart"></i> 男方联系方式</h4>
                 <br />
                 电话： <a href="tel:<%= value_for(@site_page, 'boy_phone') %>"><%= value_for(@site_page, 'boy_phone') %></a><br />
               <hr />
              <% end %>
              <% if value_for(@site_page, 'girl_phone', title: '女方联系电话', typo: 'string', required: true) %>
                 <!-- Ceremony details -->
                 <h4><i class="fa fa-heart"></i> 女方联系方式</h4>
                 <br />
                 电话： <a href="tel:<%= value_for(@site_page, 'girl_phone') %>"><%= value_for(@site_page, 'girl_phone') %></a><br />
               <hr />
              <% end %>
            </div>
         </div>
      
         <% if value_for(@site_page, 'wed_description', title: '宴席行程安排', typo: 'text', default: true) %>
           <div class="col-md-4">
              <div class="wedding">
                 <!-- Wedding details -->
                 <h4><i class="fa fa-glass"></i> 宴席行程安排</h4>
                 <%= value_for(@site_page, 'wed_description') %>
              </div>
           </div>
         <% end %>

         <% if value_for(@site_page, 'address', title: '宴席举办地址', hint: '请输入详细的省市区街道和酒店地址', required: true) %>
           <div class="col-md-4">
              <div class="wedding">
                <!-- Travel and Accomodation -->
                <h4><i class="fa fa-home"></i> 宴席地点</h4>
                <!-- baidu map 2 start -->
                <div class="show_map">
                  <div style="height:10px;"></div>
                  <div id="allmap" class="mid" ></div>
                  <INPUT style="WIDTH: 100%" id="location" name="location" value="<%= raw value_for(@site_page, 'address') %>" type="hidden"> 
                  <INPUT  id="cityname" name="cityname" value="" style="display:none"> 
                  <DIV id="optionsNarrative"></DIV> 
                  <script>
                    var SAMPLE_ADVANCED_POST = 'http://api.map.baidu.com/geocoder/v2/?ak=5dbd6ef42378bdd6ed202331c10a27c8&callback=renderOption&output=json';
                    var advancedOptions = '';
                    var address;

                    function showOptionsURL(type) {
                      advancedOptions = SAMPLE_ADVANCED_POST;   
                      address = document.getElementById('location').value; 
                      var cityname=document.getElementById('cityname').value;
                      advancedOptions+="&address="+address;
                      advancedOptions+="&city="+cityname;

                      var safe = advancedOptions;
                    };

                    function renderOption(response) {
                      var html = '';
                      if (response.status ) {
                        var text = "无正确的返回结果:\n";
                        document.getElementById('optionsNarrative').innerHTML = text;
                        return;
                      };
                      var location = response.result.location;
                      var uri = 'http://api.map.baidu.com/marker?location='+ location.lat +','+location.lng +'&title=宴席位置&content='+address+'&output=html';
                      var staticimageUrl = "http://api.map.baidu.com/staticimage?center=" +location.lng+','+location.lat + "&markers=" + location.lng+','+location.lat;

                      html += '<p style="text-align:center"><a target="_blank" href="' + uri + '"><img class="img-responsive" src="' + staticimageUrl + 'width=100%&height=200&zoom=14"/></a></p><p style="text-align:center; line-heigt:30px;"><%= raw value_for(@site_page, "address") %></p><div class="text-center"><a target="_blank" href="' + uri + '" class="btn btn-lg btn-danger"> 打开电子地图 </a></div>' ;
                      document.getElementById('optionsNarrative').innerHTML = html;
                      return;
                      //document.getElementById('optionsNarrative').innerHTML = html;
                    }

                    function doOptions() {
                      var script = document.createElement('script');
                      script.type = 'text/javascript';
                      showOptionsURL('buttonClick');
                      var newURL = advancedOptions.replace('5dbd6ef42378bdd6ed202331c10a27c8','5dbd6ef42378bdd6ed202331c10a27c8');
                      script.src = newURL;
                      document.body.appendChild(script);
                    };
                    doOptions();
                  </script>

                  <div style="height:10px;"></div>
                </div>
                <!-- baidu map 2 end --> 
                <p><%= raw value_for(@site_page, 'address_description', title: '宴席举办地交通说明', typo: 'text', default: '公交地铁、驾车路线、酒店联系电话等') %></p>
              </div>
           </div>
        <% end %>
      </div>
   </div>

  <div class="border"></div>
  <hr />   
  <div class="itop"><a href="#home" class="anchorLink"><i class="fa fa-chevron-up"></i></a></div>

  <!-- [[footer start]] --> 
  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="text-center">
            <% if value_for(@site_page, 'boy_phone') %>
              <a class="btn btn-info" href="tel:<%= value_for(@site_page, 'boy_phone')%>"><i class="fa fa-phone"></i> <%=value_for(@site_page, 'boy_phone')%></a> &nbsp;
            <% end %>
            <% if value_for(@site_page, 'girl_phone') %>
              <a class="btn btn-info" href="tel:<%=value_for(@site_page, 'girl_phone')%>"><i class="fa fa-phone"></i> <%=value_for(@site_page, 'girl_phone')%></a>
            <% end %>
          </p>
          <div class="border"></div>
        </div>
      </div>
    <div class="clearfix"></div>
    </div>
  </footer>   
  <!-- [[footer end]] --> 

  <!-- [[foot start]] --> 
    <!-- JS -->
    <script src="<%= @base_url %>js/jquery.js"></script>
    <script src="<%= @base_url %>js/bootstrap.min.js"></script>
    <script src="<%= @base_url %>js/jquery.flexslider-min.js"></script>
    <script src="<%= @base_url %>js/jquery.anchor.js"></script>
    <script src="<%= @base_url %>js/custom_wed.js"></script>
    <script src="<%= @base_url %>js/weixin.share.js"></script>
  <!-- [[foot end]] --> 
  <%= render 'layouts/s_footer' %>
</body>
</html>
