<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>

<%= render partial: 'sites/list', locals: {sites: @user.sites} %>

<%= link_to '返回', "javascript: history.go(-1);" %>
