<!DOCTYPE html><!--真挚的邀请index-->
<!--[if IEMobile 7 ]>    <html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta http-equiv="cleartype" content="on">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title><%= @site.title %></title>
  <meta name="description" content="<%= @site.description %>" />
  <meta name="keywords" content="<%= @site.title %>|维斗喜帖，漂亮的电子请柬，微信喜帖" />
  <meta name="author" content="维斗喜帖" />
  <!-- This script prevents links from opening in Mobile Safari. -->
  <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.3"></script>
  <link rel="stylesheet" href="<%= @base_url %>css/normalize.css">
  <link rel="stylesheet" href="<%= @base_url %>css/main.css">
  <link rel="stylesheet" href="<%= @base_url %>css/infostyle.css">
  <link href="<%= @base_url %>css/SpryAccordion.css" rel="stylesheet" type="text/css" />
  <link href="<%= @base_url %>css/photoswipe.css" type="text/css" rel="stylesheet" />        
  <script src="<%= @base_url %>js/SpryAccordion.js" type="text/javascript"></script>
  <script src="<%= @base_url %>js/jquery-1.8.2.min.js"></script>
  <script type="text/javascript" src="<%= @base_url %>js/klass.min.js"></script>
  <script type="text/javascript" src="<%= @base_url %>js/code.photoswipe.jquery-3.0.5.min.js"></script>
  <script src="<%= @base_url %>js/respond.min.js"></script>
  <script src="<%= @base_url %>js/weixin.share.js"></script>
  <link href="http://cdn.bootcss.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= render 'layouts/s_head' %>
</head>
<body class="page" onLoad="doOptions()" >
  <%= render 'layouts/s_header' %>
  <script type="text/javascript">
    function jumpMsg(guestid){
      var i = "tag3";
      $(".nav ul li").removeClass("selected").siblings("#"+i).addClass("selected");
      $("div[name=tags]").hide("slow").siblings("."+i).show("slow");
      $("input[name=name]").val($("td[guestid="+guestid+"]").html());
    }
    $(document).ready(function(){
    $(".nav ul li").click(function(){
        var change = $(this).attr('id');
         
        $(this).addClass("selected").siblings().removeClass("selected");
        $("div[name=tags]").hide().siblings("."+change).show();     
      });
        
    });
  </script>
<div class="container">
  <div class="header">
    <h1>
      <img class="logo" src="<%= @base_url %>img/banner.jpg" alt="维斗喜帖" />
    </h1>
  </div>

  <div class="nav menus">
    <ul>
      <li id="tag1" class="selected"><a href="javascript:void(0);">宴请信息</a></li>
      <li id="tag2" ><a href="javascript:void(0);">爱的相册</a></li>
      <li id="tag3" ><a href="javascript:void(0);">留言祝福</a></li>
    </ul>
  </div>

  <!-- INFO START  -->
  <div id="container-page1" name="tags" class="tag1"  style="display:block">
    <!--<div class="imgcontent">
      <img src="http://www.360hunjia.com/app/Tpl/fanwe/mob/images/infobg.jpg">
    </div> -->
    <div class="textcontent">
      <div style="padding:1px;">
        <div id="Accordion1" class="Accordion" tabindex="0">
          <div class="AccordionPanel">
            <div class="AccordionPanelTab">婚礼信息</div>
            <div class="AccordionPanelContent">
              <div class="">
                <div class="mid">
                  <div class="invitext">
                    <header>
                      <div class="eight columns header"> <span class="date"><%= value_for(@site_page, 'date', title: '宴请日期', typo: 'string', required: true) %></span>
                        <div class="text clearfix">
                          <% if value_for(@site_page, 'girl', title: '女方姓名') %>
                            <span class="wed-boy"><%= value_for(@site_page, 'boy', title: '男方姓名') %> </span>
                            <img src="<%= @base_url %>img/head_ico1.png" />
                            <span class="wed-boy"><%= value_for(@site_page, 'girl', title: '女方姓名') %> </span>
                          <% else %>
                            <br/>
                            <span class="wed-boy"><%= value_for(@site_page, 'boy', title: '男方姓名') %> </span>
                            <img src="<%= @base_url %>img/head_ico1.png" />
                          <% end %>
                        </div>
                      </div>
                    </header>  
                    <p class="ip2" >举行典礼 敬备喜宴</p>
                    <p class="ip2" style="line-height:27px;font-size:25px;">恭请光临</p>
                    <br>
                    <p class="ip6" style="line-height:12px;"><strong>时间：</strong><span><%= value_for(@site_page, 'date_detail', title: '详细时间', typo: 'string') %></span></p>
                    <p class="ip5"  style="line-height:16px;"><strong>席设：</strong><span><%= raw value_for(@site_page, 'address') %></span></p>
                    <p class="ip5"  style="line-height:16px;"><strong>地点：</strong><span><%= raw value_for(@site_page, 'address_description', title: '宴席举办地交通说明', typo: 'text', default: '公交地铁、驾车路线、酒店联系电话等') %></span></p>
                    <p class="ip4" style="font-size:17px; line-height:24px; margin-top:20px;">
                      <%= value_for(@site_page, 'welcome', title: '简短邀请词', typo: 'text', default: true) %>
                    </p>
                  </div>
                </div>
                <footer>
                </footer>
              </div>
            </div>
          </div>

          <div class="AccordionPanel">
            <div class="AccordionPanelTab">在线导航</div>
            <div class="AccordionPanelContent">
              <div class="">
                <div style="height:10px;"></div>
                <!--<div id="allmap" class="mid" ></div>-->
                <INPUT style="WIDTH: 100%" id="location" name="location" value="<%= raw value_for(@site_page, 'address') %>" type="hidden"> 
                <INPUT  id="cityname" name="cityname" value="" style="display:none"> 
                <DIV id="optionsNarrative"></DIV> 
                <style>
                  .mapimg img{width:90%!important;}
                  .lypho h4{font-size:medium; font-weight:700;}
                </style>
                <script>
                  var SAMPLE_ADVANCED_POST = 'http://api.map.baidu.com/geocoder/v2/?ak=5dbd6ef42378bdd6ed202331c10a27c8&callback=renderOption&output=json';
                  var advancedOptions = '';
                  var address
                  function showOptionsURL(type) {
                    advancedOptions = SAMPLE_ADVANCED_POST;   
                    address = document.getElementById('location').value; 
                    var cityname=document.getElementById('cityname').value;
                    advancedOptions+="&address="+address;
                    advancedOptions+="&city="+cityname;

                    var safe = advancedOptions;
                    //document.getElementById('optionsSampleUrl').innerHTML = safe.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                  };
                  function renderOption(response) {
                    var html = '';
                    if (response.status ) {
                      var text = "无正确的返回结果:\n";
                      document.getElementById('optionsNarrative').innerHTML = text;
                      return;
                    };
                    var location = response.result.location;
                    var uri = 'http://api.map.baidu.com/marker?location='+ location.lat +','+location.lng +'&title=婚礼位置&content='+address+'&output=html';
                    var staticimageUrl = "http://api.map.baidu.com/staticimage?center=" +location.lng+','+location.lat + "&markers=" + location.lng+','+location.lat;

                    html += '<p style="text-align:center"><a href="' + uri + '"><img class="mapimg" src="' + staticimageUrl + 'width=600&height=330&zoom=14"/></a></p><p style="text-align:center; line-heigt:30px;"><%= raw value_for(@site_page, "address") %><a href="' + uri + '"><img src=http://www.wedxt.cn/templates/wed/tab-wedding/img/daohang.png/></a></p>' ;
                    document.getElementById('optionsNarrative').innerHTML = html;
                    return;

                    document.getElementById('optionsNarrative').innerHTML = html;
                  }
                  function doOptions() {
                    var script = document.createElement('script');
                    script.type = 'text/javascript';
                    showOptionsURL('buttonClick');
                    var newURL = advancedOptions.replace('5dbd6ef42378bdd6ed202331c10a27c8','5dbd6ef42378bdd6ed202331c10a27c8');
                    script.src = newURL;
                    document.body.appendChild(script);
                  };
                </script>

                <div style="height:10px;"></div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- INFO END -->

  <!-- PHOTO START  -->
  <div id="container-page2" name="tags" class="tag2" style="display:none">
    <div class="gallery">
      <ul class="collections">
        <% get_site_images(@site).each do |site_image| %> 
          <!-- Slide #1 -->
          <li>
            <a href="<%= site_image.image.url %>" alt="维斗喜帖-<%= @site.title %>">
              <%= qiniu_image_tag site_image.image.url, :quality => 100, class: 'img-responsive' %>
            </a>
          </li>
        <% end %>
      </ul> 
    </div> 
  </div>

  <script type="text/javascript">
    var Accordion1 = new Spry.Widget.Accordion("Accordion1");
    (function(window, $, PhotoSwipe){
      $(document).ready(function(){
        var options = {};
        $(".gallery a").photoSwipe(options);
      });
    }(window, window.jQuery, window.Code.PhotoSwipe));
  </script> 
  <!-- PHOTO END -->

  <!-- MESSAGE START -->
  <div id="container-page3" name="tags" class="tag3" style="display:none">
    <div class="gallery">
      <div class="lego-image">
        <div class="lego-sole lego-vertical">
          <%= qiniu_image_tag get_first_site_image_url(@site), :quality => 100, class: 'img-responsive' %>
        </div>
      </div>
      <div class="lego-phone">
        <a href="tel:<%= value_for(@site_page, 'boy_phone', title: '男方联系电话', typo: 'string') %>">
          <i class="fa fa-phone-square"> </i> <%= value_for(@site_page, 'boy_phone', title: '男方联系电话', typo: 'string') %></a>
         &nbsp;&nbsp;&nbsp;
        <a href="tel:<%= value_for(@site_page, 'girl_phone', title: '女方联系电话', typo: 'string') %>">
          <i class="fa fa-phone-square"> </i> <%= value_for(@site_page, 'girl_phone', title: '女方联系电话', typo: 'string') %></a>
      </div>
    </div>
    <div class="gallery">
      <form action="/site_comments" name="contact-form2" id="contact-form2" method="post" enctype="multipart/form-data" onSubmit="return false;">
        <input class="hidden" id="site_comment_site_id" name="site_comment[site_id]" type="hidden" value="<%= @site.id %>" />
        <table width="95%" border="0" cellspacing="0" cellpadding="0">
          <tr><td width="27%">姓名</td><td width="73%"><input type="text" name="site_comment[name]" id="name" class="jiuba" /></td></tr>
          <tr><td>出席人数</td><td><select id="reply" name="site_comment[content2]" class="jiuba"> 
          <option value="无">无法出席</option>
          <option selected value="1">1人出席</option>
          <option value="2">2人出席</option>
          <option value="3">3人出席</option>
          <option value="4">4人出席</option>
          <option value="5">5人出席</option>
          <option value="6">6人出席</option>
          <option value="7">7人出席</option>
          <option value="8">8人出席</option>
          <option value="9">9人出席</option>
          <option value="10">10人出席</option>
          </select></td></tr>
        
          <tr><td>默认祝福</td><td><select id="zhuf" onchange="show(this.value)" class="jiuba">
          <option value="新婚快乐，早生贵子!">新婚快乐，早生贵子!</option>
          <option value="新婚快乐，早生贵子!">新婚快乐，早生贵子!</option>
          <option value="敬祝百年好合永结同心！">敬祝百年好合永结同心！</option>
          <option value="天作之合，鸾凤和鸣。">天作之合，鸾凤和鸣。</option>
          <option value="天生才子佳人配，只羡鸳鸯不羡仙。">天生才子佳人配，只羡鸳鸯不羡仙。</option>
          <option value="值得记念的日子，世界因为有了你而更加美好。">值得记念的日子，世界因为有了你而更加美好。</option>
          <option value="愿你像颗种子，勇敢地冲破泥沙，将嫩绿的幼芽伸出地面，指向天空。 ">宝宝：愿你像颗种子，勇敢地冲破泥沙，将嫩绿的幼芽伸出地面，指向天空。 </option>
          <option value="祝宝宝：貌赛潘安、吕布、周瑜，高赛姚明，智赛爱因斯坦、诸葛孔明，才高李白、杜甫，祝宝宝健康成长！">祝宝宝：貌赛潘安、吕布、周瑜，高赛姚明，智赛爱因斯坦、诸葛孔明，才高李白、杜甫，祝宝宝健康成长！</option>
          </select></td></tr>

          <tr><td>内容</td>
            <td>
              <div class="topic_pub_form">
                <textarea class="f-textarea pubform" name="site_comment[content]" id="content" style="width:; height:60px;"></textarea>
                <div class="blank"></div>
                <div class="f_l"></div>
                <div id="face_box_hd_con" >
                  <div class="blank1"></div>
                 
                </div>
                <div class="blank1"></div>
              </div>
            </td>
          </tr>
          <tr><td>&nbsp;</td><td><input id="contact-form2-btn" class="jiuba btn btn-primary" type="submit" value="发表祝福" /></td></tr>
        </table>
      </form>
        
      <script>
        function show(v){
          document.getElementById("content").innerHTML = v;
        }
        //
        $("#contact-form2-btn").click(function () { 
          var btn = $(this);
          var wxname = $("#name").val();
          if (wxname  == '') {
            alert("请输入昵称");
            return;
          }
          var info = $("#content").val();
            if (info == '') {
            alert("请输入内容");
            return;
          }
          $.post('/site_comments', $("#contact-form2").serialize(),
            function( data ) {
              alert( "留言成功!");
              setTimeout('window.location.href=location.href',1000);
              return;
            }
          )
        }); 

      </script>

      <div id="comments">
        <% @site.site_comments.each do |site_comment| %>
          <div class="comment_box">
            <h3> <%= site_comment.name %> <span class="contenboxspan"><%= distance_of_time_in_words_to_now(site_comment.created_at) %>前,</span> &nbsp;&nbsp;<small><%= site_comment.content2 %>人出席</small></h3>
            <p class="comment_content"><%= raw site_comment.content %></p>
          </div>
        <% end %>
      </div>           
    </div>
  </div>
  <!-- MESSAGE END -->
  <div class="footer">
    <p class="back">
      <a href="<%= get_site_page_url_by_title(@site, '封面') %>" class="link">返回</a>
    </p>
  </div>
</div>

<!-- MUSIC start -->
  <style type="text/css">
    /***********music**************/
    .link span{display:block; margin-top:-32px; margin-left:15px}
    header{margin-top:-10px;}
      #musicControl{
      position: fixed;
      right: 10px;
      top: 80%;
      display: inline-block;
      z-index: 99999999;
      }
      #musicControl a {
      display: inline-block;
      width: 52px;
      height: 52px;
      overflow: hidden;
      background: url('<%= @base_url %>img/music.png') no-repeat;
      }
      #musicControl a.stop {
      background-position: left bottom;
      }
    /***********music end**************/
  </style>
  <span id="musicControl">
    <a id="mc_play" class="on" onclick="play_music();">
      <audio autoplay="autoplay" id="audio_play" loop>
        <source src="<%= value_for(@site_page, 'music', typo: 'dialog', url: '/home/dialog_music', title: '背景音乐', default: true)  %>" type="audio/mpeg">
      </audio>
    </a>
  </span>
  <script type="text/javascript">
    $(document).ready(function(){    
      $(document).one('touchstart', function (e) {
      var music = document.getElementById("audio_play");
      if (music.paused) { 
      music.play(); 
      } 
      });
    });
    function play_music(){
      if ($('#mc_play').hasClass('on')){
        $('#mc_play audio').get(0).pause();
        $('#mc_play').attr('class','stop');
      }else{
        $('#mc_play audio').get(0).play();
        $('#mc_play').attr('class','on');
      }
    }
  </script>
<!-- MUSIC end -->
  <%#= render 'layouts/s_footer' %>
</body>
</html>
