<!DOCTYPE html><!--真挚的邀请landing-->
<!--[if IEMobile 7 ]>    <html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title><%= @site.title %></title>
  <meta name="description" content="<%= @site.description %>" />
  <meta name="keywords" content="<%= @site.title %>|维斗喜帖，漂亮的电子请柬，微信喜帖" />
  <meta name="author" content="维斗喜帖" />
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="cleartype" content="on" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />

  <!-- This script prevents links from opening in Mobile Safari. -->
  <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>

  <link rel="stylesheet" href="<%= @base_url %>css/normalize.css">
  <link rel="stylesheet" href="<%= @base_url %>css/main.css">
  <%= render 'layouts/s_head' %>
</head>
<body class="home">

<%= render 'layouts/s_header' %>
<div class="container">
  <div class="container-home">
    <div class="header">
      <div class="btn-collections">
        <%= link_to get_site_page_url_by_title(@site, '信息'), class: 'ir', id: 'page_link' do %> 
          信息
        <% end %>
      </div>
      <h1 class="title"><a href="#"><%= @site.title %></a></h1>
      <p class="subtitle"><%= @site.description %></p>
    </div>
  </div> 
</div>

<script src="<%= @base_url %>js/respond.min.js"></script>
<script src="<%= @base_url %>js/jquery-1.8.2.min.js"></script>
<script src="<%= @base_url %>js/countdown.js"></script>
<script>
  function get_viewport_width() {
    var width;
    if (window.innerWidth != undefined) { // all but IE 
      width =  window.innerWidth;
    } else if (document.documentElement != undefined) {   // IE
      width = document.documentElement.clientWidth;
    } 

    // to support pc preview
    if (document.body.clientWidth != undefined) {
      if ( width > document.body.clientWidth) {
        width = document.body.clientWidth;
      }
    }
    return width;
  }

  function get_viewport_height() {
    var height;
    if (window.innerHeight != undefined) {
      height =  window.innerHeight;
    } else if (document.documentElement != undefined) {
      height = document.documentElement.clientHeight;
    }

    return height;
  }

  $(function () {
    var width = get_viewport_width();
    var height = get_viewport_height();

    if(height / width > 3) { // when Android browser initialized, window.innerHeight property might be incorrect
      height = width * 488 / 320;
    }
    
    // to support mobile
    var pic_width = width;
    var pic_height = height;
    if (window.devicePixelRatio != undefined) {
      pic_width = width * window.devicePixelRatio;
      pic_height = height * window.devicePixelRatio;
    }
    var max_width = 1024;
    pic_width = max_width;
    pic_height = max_width * height / width;

    var url = '<%= asset_path value_for(@site_page, 'banner', typo: 'dialog', url: '/home/dialog_banner', title: '封面照片', default: true)  %>';//+ '&w=' + pic_width + '&h=' + pic_height
    $('div.container').css({'background':'url("' + url + '") no-repeat scroll 0 0', 'background-size':'cover'});
    $('div.container').css('height',height);


    TargetDate = "";
    TargetDate = TargetDate.replace(/\-/g, '/');
    date_then = new Date(TargetDate);
    date_now = new Date();
    if(date_now < date_then) {
      $('#countdown').countDown({
        targetDate: {
          'day':    date_then.getDate(),
          'month':  date_then.getMonth() + 1,
          'year':   date_then.getFullYear(),
          'hour':   date_then.getHours(),
          'min':    date_then.getMinutes(),
          'sec':    date_then.getSeconds()
        }
      });
    }else {
      //$('#countdown').hide();
      $('#countdown').countDown({
        targetDate: {
          'day':    date_then.getDate(),
          'month':  date_then.getMonth() + 1,
          'year':   date_then.getFullYear(),
          'hour':   date_then.getHours(),
          'min':    date_then.getMinutes(),
          'sec':    date_then.getSeconds()
        }
      });
      //$('#countdown-name').html('时间已过:');
    }
  });
</script>
<script language="javascript" type="text/javascript">
 var contentModel = {
  "img_url": $('.container').css('background-image').replace(/^url|[\(\)]/g, ''),
  "src":  $('meta[name="description"]').attr('content'),
  "title": $('title').text(),
 };
</script>
<script language="JavaScript" src="<%= @base_url %>js/share.js" type="text/javascript" ></script>
  <%#= render 'layouts/s_footer' %>  
  </body>
</html>