<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>地址</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
<meta name="viewport" content="initial-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta charset="utf-8">
<link href="tpl/Wap/default/common/css/ktv/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="content">
	<span class="marginb">
		<h3>婚宴地址</h3>
		<span id="post-date">2014-05-25</span>
	</span>
	
	<div class="showpic"><img src="Uploads/image/20140302/5312dc21c8d64.jpg" /></div>	
  <img src="map.jpg" alt="" />
                <h3>梨园1930剧院餐厅</h3>
                <p>大兴新区桃园北路26号<br/>
                大兴东路与桃园北路丁字路口东北角</p>
                餐厅电话: 029-88651111
                <br/><br/>
  </div>
<div class="content">
<!-- UY BEGIN 
<div id="uyan_frame"></div>
<script type="text/javascript" src="../v2.uyan.cc/code/uyan.js¿uid=1713244"></script>
UY END -->
</div>
	<div style="display:none"></div>
</body>
</html>
