html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 1.5;
    position: relative;
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
}

.red-slide {
    background: url(../previews/1.jpg) #ca4040;
    background-repeat: no-repeat;
    background-size: cover;
}

.blue-slide {
    background: #4390ee;
}

.orange-slide {
    background: #ff8604;
}

.green-slide {
    background: #49a430;
}

.pink-slide {
    background: #973e76;
}

.swiper-slide .title {
    font-style: italic;
    font-size: 42px;
    margin-top: 80px;
    margin-bottom: 0;
    line-height: 45px;
}

.pagination {
    position: absolute;
    z-index: 20;
    left: 10px;
    bottom: 10px;
}

.swiper-pagination-switch {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #222;
    margin-right: 5px;
    opacity: 0.8;
    border: 1px solid #fff;
    cursor: pointer;
}

.swiper-visible-switch {
    background: #aaa;
}

.swiper-active-switch {
    background: #fff;
}

/* audio css and txt */
.audiojs {height:66px;width:66px;text-align:right; position:relative; overflow:hidden; background:none;-webkit-box-shadow:none;margin:0;box-shadow:none;}
  .audiojs .play-pause{border-right: 0;}
  .loaded,.scrubber, .time {display:none;}
  .audiojs .play-pause{width:auto;height:auto;padding:0; overflow:auto;float:right; position:absolute;right:0;  } 
  .pictxt{color:#fff;width:100%;}
  .pictxt h2,.pictxt h3{font-weight:normal;font-size:14px;line-height:1.4;margin:0;padding:0 0 0 20px;}
  .pictxt h2{}
  .pictxt h3{}
  dl,dt,dd{margin:0;padding:0;}
  .showtxt{ position:relative;padding-left:20px;}
  .showtxt .masktxt{height:40%;overflow:auto;padding:20px 0 0;}
  .showtxt .masktxt p{font-size:12px;line-height:1.0;}
  .showtxt .mask{ position:absolute;left:-20%;top:0px;}
   .ok{ overflow:hidden;}
   .playbox{position:fixed; z-index:1; bottom:60px;right:20px; cursor:pointer;width:66px;}
   .audiojs .play-pause{ }
   .audiojs .play{ width:66px;height:66px; background:url(play.png) no-repeat 0 0!important;background-size:cover!important; }
   .audiojs .pause{width:66px;height:66px; background:url(playstop.png) no-repeat 0 0!important;background-size:cover!important; }
  @media (min-width: 480px) {
    .audiojs {height:117px;width:117px;text-align:right; position:relative; overflow:hidden; background:none;-webkit-box-shadow:none;margin:0;box-shadow:none;}
  .pictxt h2,.pictxt h3{font-size:20px;}
  .showtxt .masktxt p{font-size:18px;line-height:1.0;}  
  .audiojs .play{width:117px;height:117px } 
  .audiojs .pause{width:117px;height:117px;   }
  .playbox{width:117px;}
  }
  @media (min-width: 640px) {
  .audiojs {height:135px;width:135px;text-align:right; position:relative; overflow:hidden; background:none;-webkit-box-shadow:none;margin:0;box-shadow:none;}
  .pictxt h2,.pictxt h3{font-size:30px;}  
  .showtxt .masktxt p{font-size:24px;line-height:1.0;}  
  .audiojs .play-pause{ }
  .audiojs .play{width:135px;height:135px; } 
  .audiojs .pause{width:135px;height:135px; }
  .playbox{width:135px;}
  }
  .swipehe{ overflow:hidden;}