html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 1.5;
    position: relative;
    height: 100%;
}

/*h1 { display: inline; position: relative; margin: 0ex 0ex 1ex 1.2ex; font-family: '微软雅黑', sans-serif; font-weight: normal; font-size: 42px; letter-spacing: 1px; }
h1:before { content: '♬ '; position: absolute; top: 16px; left: -3.1ex; color: #da1c5c; font-size: 0.4em; }
h2 { font-family: 'bpreplay', sans-serif; font-weight: normal; font-size: 24px; margin-bottom: 10px; line-height: 1.6; }
*/
.swiper-container {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    max-width: 640px;
    max-height: 960px;
}

.red-slide {
    background: #ca4040;
    background-repeat: no-repeat;
    background-size: cover;
}

.blue-slide {
    background: #4390ee;
}

.orange-slide {
    background: #ff8604;
}

.green-slide {
    background: #49a430;
}

.pink-slide {
    background: #973e76;
}

/***default color **/
.swiper-slide {
    background: #F1678D;
}

.swiper-slide .title {
    font-size: 42px;
    margin-top: 80px;
    margin-bottom: 0;
    line-height: 45px;
}

.pagination {
    position: absolute;
    z-index: 20;
    left: 10px;
    bottom: 10px;
}

.swiper-pagination-switch {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #222;
    margin-right: 5px;
    opacity: 0.8;
    border: 1px solid #fff;
    cursor: pointer;
}

.swiper-visible-switch {
    background: #aaa;
}

.swiper-active-switch {
    background: #fff;
}

#hand {
    position: fixed;
    z-index: 1000;
    top: 80%;
    left: 200px;
    width: 150;
}
/* audio css  */
.audio-btn{
    position: fixed;
    z-index: 1000;
    top: 15px;
    right: 15px;
    width: 46px;
    opacity: 0.8;
}
.audio-btn audio{
    width: 44px;
    border: solid 0px;
}

/* css and txt */
.loaded, .scrubber, .time {
    display: none;
}

.pictxt {
    color: #fff;
    width: 100%;
    margin-top: 200px;
    height: 100%;
}

.pictxt h2 {
    text-align: center;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    color: #fff;
    opacity: 0.8;
}

.pictxt 
dl,dt,dd {
    margin: 0;
    padding: 0;
}

.showtxt {
    position: relative;
    padding-left: 20px;
}

.showtxt .masktxt {
    text-align: left;
    height: 100%;
    overflow: auto;
    padding: 20px 0 0;
}

.showtxt .masktxt p {
    font-size: 14px;
    line-height: 1.6;
}

.showtxt .mask {
    position: absolute;
    left: -20%;
    top: 0px;
}

.ok {
    overflow: hidden;
}

@media (min-width: 480px) {
    .pictxt {
        margin-top: 160px;
    }
    .pictxt h2,.pictxt h3 {
        font-size: 32px;
    }

    .showtxt .masktxt p {
        font-size: 18px;
        line-height: 1.5;
    }
}

@media (min-width: 640px) {
    .pictxt {
        margin-top: 380px;
    }

    .pictxt h2,.pictxt h3 {
        font-size: 30px;
    }

    .showtxt .masktxt p {
        font-size: 24px;
        line-height: 1.5;
    }
}


/***bootstrap btn**/
.btn {
    display:inline-block;
    margin-bottom:0;
    font-weight:400;
    text-align:center;
    text-decoration: none;
    vertical-align:middle;
    cursor:pointer;
    background-image:none;
    border:1px solid transparent;
    white-space:nowrap;
    font-size:14px;
    line-height:1.428571429;
    border-radius:4px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
    padding:6px 12px;
}

.btn:hover,.btn:focus {
    color:#333;
    text-decoration:none;
}

.btn:active,.btn.active {
    outline:0;
    background-image:none;
    -webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
}

.btn.disabled,.btn[disabled],fieldset[disabled] .btn {
    cursor:not-allowed;
    pointer-events:none;
    opacity:.65;
    filter:alpha(opacity=65);
    -webkit-box-shadow:none;
    box-shadow:none;
}

.btn-default {
    color:#333;
    background-color:#fff;
    border-color:#ccc;
}

.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default {
    color:#333;
    background-color:#ebebeb;
    border-color:#adadad;
}

.btn-danger {
    color:#fff;
    background-color:#d9534f;
    border-color:#d43f3a;
}

.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.open .dropdown-toggle.btn-danger {
color:#fff;
background-color:#d2322d;
border-color:#ac2925;
}

.btn-danger.disabled,.btn-danger[disabled],fieldset[disabled] .btn-danger,.btn-danger.disabled:hover,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger:hover,.btn-danger.disabled:focus,.btn-danger[disabled]:focus,fieldset[disabled] .btn-danger:focus,.btn-danger.disabled:active,.btn-danger[disabled]:active,fieldset[disabled] .btn-danger:active,.btn-danger.disabled.active,.btn-danger[disabled].active,fieldset[disabled] .btn-danger.active {
background-color:#d9534f;
border-color:#d43f3a;
}

.btn-danger .badge {
color:#d9534f;
background-color:#fff;
}

.btn-primary {
color:#fff;
background-color:#428bca;
border-color:#357ebd;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary {
color:#fff;
background-color:#3276b1;
border-color:#285e8e;
}

.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active {
background-color:#428bca;
border-color:#357ebd;
}

.btn-success {
color:#fff;
background-color:#5cb85c;
border-color:#4cae4c;
}

.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success {
color:#fff;
background-color:#47a447;
border-color:#398439;
}

.btn-success.disabled,.btn-success[disabled],fieldset[disabled] .btn-success,.btn-success.disabled:hover,.btn-success[disabled]:hover,fieldset[disabled] .btn-success:hover,.btn-success.disabled:focus,.btn-success[disabled]:focus,fieldset[disabled] .btn-success:focus,.btn-success.disabled:active,.btn-success[disabled]:active,fieldset[disabled] .btn-success:active,.btn-success.disabled.active,.btn-success[disabled].active,fieldset[disabled] .btn-success.active {
background-color:#5cb85c;
border-color:#4cae4c;
}

.btn-success .badge {
color:#5cb85c;
background-color:#fff;
}

.btn-info {
color:#fff;
background-color:#5bc0de;
border-color:#46b8da;
}

.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.open .dropdown-toggle.btn-info {
color:#fff;
background-color:#39b3d7;
border-color:#269abc;
}

.btn-info.disabled,.btn-info[disabled],fieldset[disabled] .btn-info,.btn-info.disabled:hover,.btn-info[disabled]:hover,fieldset[disabled] .btn-info:hover,.btn-info.disabled:focus,.btn-info[disabled]:focus,fieldset[disabled] .btn-info:focus,.btn-info.disabled:active,.btn-info[disabled]:active,fieldset[disabled] .btn-info:active,.btn-info.disabled.active,.btn-info[disabled].active,fieldset[disabled] .btn-info.active {
background-color:#5bc0de;
border-color:#46b8da;
}

.btn-info .badge {
color:#5bc0de;
background-color:#fff;
}

.btn-warning {
color:#fff;
background-color:#f0ad4e;
border-color:#eea236;
}

.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.open .dropdown-toggle.btn-warning {
color:#fff;
background-color:#ed9c28;
border-color:#d58512;
}

.btn-warning.disabled,.btn-warning[disabled],fieldset[disabled] .btn-warning,.btn-warning.disabled:hover,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning:hover,.btn-warning.disabled:focus,.btn-warning[disabled]:focus,fieldset[disabled] .btn-warning:focus,.btn-warning.disabled:active,.btn-warning[disabled]:active,fieldset[disabled] .btn-warning:active,.btn-warning.disabled.active,.btn-warning[disabled].active,fieldset[disabled] .btn-warning.active {
background-color:#f0ad4e;
border-color:#eea236;
}

.btn-warning .badge {
color:#f0ad4e;
background-color:#fff;
}
