html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 1.5;
    position: relative;
    height: 100%;
}

h1 { display: inline; position: relative; margin: 0ex 0ex 1ex 1.2ex; font-family: '微软雅黑', sans-serif; font-weight: normal; font-size: 42px; letter-spacing: 1px; }
h1:before { content: '♬ '; position: absolute; top: 16px; left: -3.1ex; color: #da1c5c; font-size: 0.4em; }
h2 { font-family: 'bpreplay', sans-serif; font-weight: normal; font-size: 24px; margin-bottom: 10px; line-height: 1.6; }

.swiper-container {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
}

.red-slide {
    background: url(../previews/1.jpg) #ca4040;
    background-repeat: no-repeat;
    background-size: cover;
}

.blue-slide {
    background: #4390ee;
}

.orange-slide {
    background: #ff8604;
}

.green-slide {
    background: #49a430;
}

.pink-slide {
    background: #973e76;
}

.swiper-slide .title {
    font-size: 42px;
    margin-top: 80px;
    margin-bottom: 0;
    line-height: 45px;
}

.pagination {
    position: absolute;
    z-index: 20;
    left: 10px;
    bottom: 10px;
}

.swiper-pagination-switch {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #222;
    margin-right: 5px;
    opacity: 0.8;
    border: 1px solid #fff;
    cursor: pointer;
}

.swiper-visible-switch {
    background: #aaa;
}

.swiper-active-switch {
    background: #fff;
}
/* audio css  */
.fn-audio audio{width: 44px; margin-top: 10px;}

/* css and txt */
.loaded, .scrubber, .time {display:none;}
.pictxt{color:#fff;width:100%;}
.pictxt h2,.pictxt h3{font-weight:normal;font-size:14px;line-height:1.4;margin:0;padding:0 0 0 20px;}
.pictxt h2{}
.pictxt h3{}
dl,dt,dd{margin:0;padding:0;}
.showtxt{ position:relative;padding-left:20px;}
.showtxt .masktxt{height:40%;overflow:auto;padding:20px 0 0;}
.showtxt .masktxt p{font-size:12px;line-height:1.0;}
.showtxt .mask{ position:absolute;left:-20%;top:0px;}
.ok{ overflow:hidden;}
@media (min-width: 480px) {
  .pictxt h2,.pictxt h3{font-size:20px;}
  .showtxt .masktxt p{font-size:18px; line-height:1.5;}  
}
@media (min-width: 640px) {
  .pictxt h2,.pictxt h3{font-size:30px;}  
  .showtxt .masktxt p{font-size:24px; line-height:1.5;}  
}