<!DOCTYPE html><!--左右滑动微相册-->
<!--[if IEMobile 7 ]>    <html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <!--禁止缩放 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta content="telephone=no" name="format-detection" />
    <title><%= @site.title %></title>
    <meta name="description" content="<%= @site.description %>" />
    <meta name="keywords" content="<%= @site.title %>|维斗喜帖，漂亮的电子请柬，微信喜帖" />
    <meta name="author" content="维斗喜帖" />

    <script src="<%= @base_url %>assets/audio.min.js"></script>
    <script src="<%= @base_url %>assets/jquery-1.9.1.min.js"></script>
    <script src="<%= @base_url %>assets/index.js"></script>
    <link rel="stylesheet" href="<%= @base_url %>assets/index.css" media="screen">
    <script>
      audiojs.events.ready(function() {
        audiojs.createAll();
      });
    </script>
    <%= render 'layouts/s_head' %>
  </head>

  <body>
  <div class="addWrap"> 
    <div class="swipe" id="mySwipe">
        <div class="swipe-wrap">
            <% @site_page.site_images.each_with_index do |site_image, index| %>
                <% next if index == 0 %>
                <div class="swipehe" style="background:url(<%= site_image.image.url %>); background-repeat:no-repeat; background-size:cover;">
                    <a href="javascript:;">
                        <img src="<%= @base_url %>assets/1.png"  width="100%" height="100%" />
                    </a>
                </div>
            <% end %>


            <div class="swipehe" style="background:url(<%= get_first_site_image_url(@site) %>); background-repeat:no-repeat;background-size:cover;">
                <div class="playbox">
                    <audio src="<%= value_for(@site_page, 'music', typo: 'dialog', url: '/home/dialog_music', title: '背景音乐', default: true)  %>" preload="auto"></audio>
                </div>
               <dl class="pictxt">
                    <dt></dt>
                    <dd>
                        <h2><%= value_for(@site_page, 'title', title: '标题', typo: 'string') %></h2>
                        <h3><%= value_for(@site_page, 'sub_title', title: '副标题', typo: 'string') %></h3>
                        <div class="showtxt">
                            <img src="<%= @base_url %>assets/mask.png" class="mask" />
                          
                            <div class="masktxt">
                                <%= raw value_for(@site_page, 'content', title: '详细说明', typo: 'text') %>
                            </div>
                        </div>
                    </dd>
               </dl>
            </div>        
        </div>
    </div>
    <ul id="position" style="display:none;">
        <li class="cur"></li>
        <% @site_page.site_images.each_with_index do |site_image, index| %>
            <% next if index == 0 %>
            <li class=""></li>
        <% end %>
    </ul>
  </div>

  <script type="text/javascript">
    var bullets = document.getElementById('position').getElementsByTagName('li');
    var banner = Swipe(document.getElementById('mySwipe'), {
      //auto: 4440,
      continuous: true,
      disableScroll:false,
      callback: function(pos) {
        var i = bullets.length;
        while (i--) {
          bullets[i].className = ' ';
        }
        bullets[pos].className = 'cur';
      }
    });
  </script>
  <script type="text/javascript">
    $(function(){
        _h = $(window).height();
        $('.swipehe').height(_h);
        $('.pictxt').height(_h);
        $('.pictxt > dt').height(_h/3)
        $('.masktxt').height(_h/2-30);
        // 分享到朋友圈
        var wxTitle = document.title;
        var wxDesc = '<%= @site.description %>';
        var wxImg = '<%= get_first_site_image_url(@site) %>';
        //var shareLink = 'http://ent.qq.com/music/ps.htm';
        document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
            // 发送给好友
            WeixinJSBridge.on('menu:share:appmessage', function (argv) {
                WeixinJSBridge.invoke('sendAppMessage', {
                    "img_url": wxImg,
                    "link": shareLink,
                    "desc":  wxDesc,
                    "title": "<%= @site.title %>"
                }, function (res) {
                    _report('send_msg', res.err_msg);
                })
            });

            // 分享到朋友圈
            WeixinJSBridge.on('menu:share:timeline', function (argv) {
                WeixinJSBridge.invoke('shareTimeline', {
                    "img_url": wxImg,
                    "link": shareLink,
                    "desc":  wxDesc,
                    "title": "<%= @site.title %>"
                }, function (res) {
                    _report('timeline', res.err_msg);
                });
            });
        }, false)
    })
  </script>
  <%= render 'layouts/s_footer' %>
  </body>
</html>
