/*there are two colors: black and light
  pls replace black color: #36D9C3;
  then replace light color: #99cccc;
*/

/*black color: #36D9C3*/
h1,h2,h3,h4,h5,h6{
  color: #36D9C3;
}

.btn-success, .btn-success:hover, .btn-success:focus{
  background-color: #36D9C3;
}

.button a, .button a:visited{
  background:#36D9C3;
  color:#fff;
  border-radius:5px;
  border-bottom:2px solid #36D9C3;
}

.button a:hover{
  background:#36D9C3;
}

.navbar{
  background: #36D9C3 !important; 
}

header{
  background:#36D9C3 url("../img/head-light-green.jpg") center center;
  color:#fff;
}

a, a:visited{
  color:#36D9C3;
}


/*light color: #99cccc*/
a:hover{
  color:#99cccc;
}

.color{
  color:#99cccc;
}

.navbar button{
  background:#99cccc !important; 
}

.navbar button:hover{
  background:#99cccc !important;
}

.navbar .nav > li > a:hover{
  background:#99cccc !important;
  color:#fff !important;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
  color: #ffffff;
  box-shadow:none;
  background: #99cccc !important;
}

.dropdown-toggle{
  background: #99cccc !important;
}

.dropdown-menu{
  background:#99cccc !important;
}

header .well{
  border:1px solid #99cccc;
}