
<ul id="nav" class="menu">
  <li>
    <a class="pjaxlink" href="index.html">
      首页
    </a>
  </li>
  <li>
    <a class="pjaxlink" href="invite.html">
      邀请
    </a>
  </li>
  <li>
    <a class="pjaxlink" href="map.html">
      宴席
    </a>
  </li>
  <li>
    <a class="pjaxlink" href="gallery.html">
      照片
    </a>
  </li>
  <li>
    <a class="pjaxlink" href="contact.html">
      祝福
    </a>
  </li>
</ul> 